/* * {
    -webkit-font-smoothing: antialiased;
    outline: none;
    box-sizing: border-box;
} */

body{
    background-image: url("../../src/components/images/resizebackground.jpg");
    position: center center;
    overflow: hidden;
    /* max-width: auto; */
    /* height: fit-content;
    width: fit-content; */
    object-fit: cover;
    margin-top: 0px;
    background-repeat: no-repeat;
    left: 0px;
    /* background-size: cover; */
}

hr{
    border: 1px solid lightslategray;
}

.aboutImage{
    float: left;
    height: 20%;
    width: 20%;
    object-fit: cover;
    object-position: top;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;  
    background-color: #090d48;
    opacity: 0.5;
}



 .navbar-brand{
    padding: 15px 26px;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 22px;
    background-color: #0a1164;
    margin-left: 20px;
    opacity: 0.5;
}

.navbar{
    padding: 0;
    background-color: #5083c2;
    font-family: 'Special Elite', cursive;
}

h1{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 22px;
    color: #0a1164;
}

.navbar-nav p{
    padding-top: 6px;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
}

.footer{
    font-size: x-small;
    border-top:5px solid #0a1164;
}

#section{
    margin-left: 1%;
    width: 100%;
    font-size: 90%;
    /* opacity: 0.2; */
}


.col-9{
    /* background-color: #a9c7ec; */
    background-color: rgba(121, 168, 230, 0.712);
}

p{
    font-family: 'Merriweather', serif;
    /* opacity: 1; */
}


a {
    color: #142940;
    text-decoration: none;
    background-color: transparent;
}







 @media screen and (max-width: 980px) {

.aboutImage{
    
    height: 40%;
    width: 40%;
}

#section{
    width: 92%;
    font-size: 85%;
    margin-left: 2%;
}

.navbar-nav a{
    padding-top: 8px;
    font-weight: normal;
    font-size: 14px;
}

body{
    

  background-position: top;
  background-size: fill;
   
}

 }

@media screen and (max-width: 768px) { 
    
    /* .aboutImage{
        
        height: 50%;
        width: 50%;   
    } */
    
    /* #section{
        width: 126%;
        font-size: 85%;
         margin-left: 2%; 
    } */
}

@media screen and (max-width: 640px) { 

/* body{
    justify-content: center;
} */
    
/* .aboutImage{
float: none;
  margin-left: 2%;
  width: 60%;
  height: 60%; 
} */
    
 /* #section{ 
    width: 124%;
    font-size: 85%;
    margin-top: 35px;  
    justify-content: center; 
} */

/* #header {
 
    width: 100%;
    text-align: center;
}  */

 /* .navbar-nav {
    flex: auto;
    margin-top: 50px; 
    position: absolute;  
    width: 100%;
    background-color: white;   
}

.footer{
   height: 20px;
} */

}

     