#main{
    background-image: url("../images/background.jpg");
    background-size: cover;

    background-repeat: none;
   
}

hr{
    border: 1px solid lightslategray;
}

p{
    font-family: 'Merriweather', serif;
}

 img{
    height: 190px;
    width: 280px;
    object-fit: cover;
}  

#section{
    
    margin-left: 1%;
    width: 100%;
    font-size: 90%;
}

.col-9{
    background-color: #a9c7ec;

}

.box{
    position: relative;
    display: inline-block; 
    
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; 
    text-align: center;
    background-color:#0a1164;
    
}

h2{
    color: white;
    padding-top: 14px;
    padding-bottom: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    
}

.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;  
    background-color: #090d48;
}


.navbar-brand{
    padding: 15px 26px;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 22px;
    background-color: #0a1164;
    margin-left: 20px;
}

.navbar{
    padding: 0;
    background-color: #5083c2;
    font-family: 'Special Elite', cursive;
}

h1{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 22px;
    color: #0a1164;
}

.navbar-nav p{
    padding-top: 6px;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
}

.imageTable tbody tr th{
    padding: 20px;
     /* width: 60%; */
     width: max-content;
 }

.footer{
    font-size: x-small;
    border-top:5px solid #0a1164;
}
.footer p{
    margin-top: 5px;
}

@media screen and (max-width: 980px) {

    #section{  
       padding-right: -1px;     
       width: 100%;
       font-size: 85%;
       margin-left: 2%;
      
   }

  .imageTable tbody tr th{
    padding-left: 0.5%;
    display: block;
  }

  .navbar-nav a{
    padding-top: 8px;
    font-weight: normal;
    font-size: 14px;
}

}

  @media screen and (max-width: 768px) { 

    #section{
        display: block;
        width: 126%;
        font-size: 85%; 
         margin:auto; 
     }

    .imageTable tbody tr th{
        padding-left: 0.5%;
         margin:auto; 
         display: block;
        
     } 
}  



 @media screen and (max-width: 640px) { 
    
#section{ 
        width: 122%;
        font-size: 85%;
        margin-left: 20px;
        margin-top: 35px;  
        
    }

    #header {
 
        width: 100%;
        text-align: center;
        /* justify-content: center; */
    } 

.navbar-nav {
    flex: auto;
    margin-top: 50px; 
    position: absolute;  
    width: 100%;
    background-color: white;   
}


.imageTable tbody tr th{
    display: flex;
     display: block; 
    margin-left:1%; 
  } 

 img{

    object-fit: cover;
}  



}
