body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/resizebackground.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  position: center center;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  left: 0px;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr{
  border: 1px solid lightslategray;
}

h1{
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 22px;
  color: #0a1164;
}

p{
  font-family: 'Merriweather', serif;
  /* opacity: 1; */
}

a{
  color: #142940;
  text-decoration: none;
  background-color: transparent;
}

.navbar-brand{
  padding: 15px 26px;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 22px;
  background-color: #0a1164;
  margin-left: 20px;
  opacity: 0.5;
}

.navbar{
  padding: 0;
  background-color: #5083c2;
  font-family: 'Special Elite', cursive;
}

.navbar-nav p{
  padding-top: 6px;
  font-weight: lighter;
  font-size: 16px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-9{
  /* background-color: #a9c7ec; */
  background-color: rgba(121, 168, 230, 0.712);
}

.footer{
 
  bottom: 0;
  height: 50px;
  width: 100%;  
  background-color: #090d48;
  opacity: 0.5;
  font-size: x-small;
  border-top:5px solid #0a1164;
}

@media screen and (max-width: 980px) {
  .aboutImage{
      height: 40%;
      width: 40%;
  }
  
  #section{
      width: 92%;
      font-size: 85%;
      margin-left: 2%;
  }
  
  .navbar-nav a{
      padding-top: 8px;
      font-weight: normal;
      font-size: 14px;
  }
  
  body{
    background-position: top;
    background-size: fill;
     
  }
}


@media screen and (max-width: 768px) {   
  .aboutImage{
      
      height: 50%;
      width: 50%;   
  }
  #section{
      width: 126%;
      font-size: 85%;
       margin-left: 2%; 
  }
}


@media screen and (max-width: 640px) {  
  body{
      justify-content: center;
  }
  .aboutImage{
  float: none;
    margin-left: 2%;
    width: 60%;
    height: 60%; 
  }  
   #section{ 
      width: 124%;
      font-size: 85%;
      margin-top: 35px;  
      justify-content: center; 
  }
  #header { 
      width: 100%;
      text-align: center;
  } 
    .navbar-nav {
      flex: auto;
      margin-top: 50px; 
      position: absolute;  
      width: 100%;
      background-color: white;   
  }
};






